.display-points-container {
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.display-name {
    text-align: center;
    vertical-align: middle;
    line-height: 4em;
    width: 200px;
}

.display-distance {
    line-height: 4em;
    width: 200px;
}

.display-points {
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 200px;
    line-height: 50px;
}

